// --- Align Content ---

.align-content-around {
  align-content: space-around;
}

.align-content-between {
  align-content: space-between;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-evenly {
  align-content: space-evenly;
}

.align-content-start {
  align-content: flex-start;
}


// --- Align Items ---

.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-stretch {
  align-items: stretch;
}


// --- Align Self ---

.align-self-auto {
  align-self: auto;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-stretch {
  align-self: stretch;
}
