@use './mixins.scss' as mixins;

/* --- Align Content --- */

$alignContent: (
  around: space-around,
  between: space-between,
  center: center,
  end: flex-end,
  evenly: space-evenly,
  start: flex-start,
) !default;

@include mixins.generateClasses($alignContent, 'align-content-', align-content);

/* --- Align Items --- */

$alignItems: (
  baseline: baseline,
  center: center,
  end: flex-end,
  start: flex-start,
  stretch: stretch,
) !default;

@include mixins.generateClasses($alignItems, 'align-items-', align-items);

/* --- Align Self --- */

$alignSelf: (
  auto: auto,
  baseline: baseline,
  center: center,
  end: flex-end,
  start: flex-start,
  stretch: stretch,
) !default;

@include mixins.generateClasses($alignSelf, 'align-self-', align-self);
