@use './mixins.scss' as mixins;

/* --- Background Colours --- */

$backgroundColors: (
  active: var(--gcds-active-background),
  black: var(--gcds-color-grayscale-1000),
  current: currentColor,
  danger: var(--gcds-danger-background),
  dark: var(--gcds-bg-dark),
  disabled: var(--gcds-disabled-background),
  inherit: inherit,
  light: var(--gcds-bg-light),
  primary: var(--gcds-bg-primary),
  transparent: transparent,
  white: var(--gcds-bg-white),
) !default;

@include mixins.generateClasses($backgroundColors, 'bg-', background-color);
