@import "./mixins.scss";

/* --- Border --- */

$borderSizes: (
  none: none,
  sm: var(--gcds-border-width-sm) solid currentColor,
  md: var(--gcds-border-width-md) solid currentColor,
  xl: var(--gcds-border-width-xl) solid currentColor,
) !default;

@each $classSide, $side in $sides {
  @include generateClasses($borderSizes, 'b' + #{$classSide} + '-', border#{$side});
}

/* --- Border Style --- */

$borderStyle: (
  dashed: dashed,
  dotted: dotted,
  none: none,
  solid: solid
) !default;

@include generateClasses($borderStyle, 'b-', border-style);


/* --- Border Color --- */

$borderColor: (
  inherit: inherit,
  current: currentColor,
  dark: var(--gcds-color-grayscale-1000),
  light: var(--gcds-color-grayscale-0),
  transparent: transparent
) !default;

@include generateClasses($borderColor, 'b-', border-color);
