@import "./mixins.scss";

/* --- Border --- */

$borderSides: (
  t: 'top',
  r: 'right',
  b: 'bottom',
  l: 'left'
) !default;

$borderSizes: (
  0: none,
  1: 1px solid currentColor,
  2: .125rem solid currentColor,
  4: .25rem solid currentColor,
  6: .375rem solid currentColor,
  8: .5rem solid currentColor
) !default;

@each $className, $value in $borderSizes {
  // classes for all sides
  @include classBreakpoints('b-' + #{$className}) {
    border: $value;
  }

  // classes for each side
  @each $classSide, $side in $borderSides {
    @include classBreakpoints('b' + #{$classSide} + '-' + #{$className}) {
      border-#{$side}: #{$value};
    }
  }
}


/* --- Border Style --- */

$borderStyle: (
  dashed: dashed,
  dotted: dotted,
  none: none,
  solid: solid
) !default;

@include generateClasses($borderStyle, 'b-', border-style);


/* --- Border Color --- */

$borderColor: (
  inherit: inherit,
  current: currentColor,
  dark: var(--gcds-color-grayscale-1000),
  light: var(--gcds-color-grayscale-0),
  transparent: transparent
) !default;

@include generateClasses($borderColor, 'b-', border-color);
