@import './mixins.scss';

/* --- Container Sizes --- */

$container: (
  xs: var(--gcds-container-xs),
  sm: var(--gcds-container-sm),
  md: var(--gcds-container-md),
  lg: var(--gcds-container-lg),
  xl: var(--gcds-container-xl),
  full: var(--gcds-container-full),
) !default;

@include generateClasses($container, 'container-', max-width);
