@import './mixins.scss';

/* --- Cursor --- */

$cursor: (
  copy: copy,
  default: default,
  grab: grab,
  help: help,
  move: move,
  not-allowed: not-allowed,
  pointer: pointer,
  text: text,
  zoom-in: zoom-in,
  zoom-out: zoom-out,
) !default;

@include generateClasses($cursor, 'cursor-', cursor);
