// --- Breakpoints ---

$breakpoints: (
  xs: 30em,
  sm: 40em,
  md: 48em,
  lg: 64em,
  xl: 80em,
) !default;

// --- Spacing ---

$spacing: (
  0: var(--gcds-spacing-0),
  25: var(--gcds-spacing-25),
  50: var(--gcds-spacing-50),
  75: var(--gcds-spacing-75),
  100: var(--gcds-spacing-100),
  125: var(--gcds-spacing-125),
  150: var(--gcds-spacing-150),
  175: var(--gcds-spacing-175),
  200: var(--gcds-spacing-200),
  225: var(--gcds-spacing-225),
  250: var(--gcds-spacing-250),
  300: var(--gcds-spacing-300),
  350: var(--gcds-spacing-350),
  400: var(--gcds-spacing-400),
  450: var(--gcds-spacing-450),
  500: var(--gcds-spacing-500),
  550: var(--gcds-spacing-550),
  600: var(--gcds-spacing-600),
  650: var(--gcds-spacing-650),
  700: var(--gcds-spacing-700),
  750: var(--gcds-spacing-750),
  800: var(--gcds-spacing-800),
  850: var(--gcds-spacing-850),
  900: var(--gcds-spacing-900),
  950: var(--gcds-spacing-950),
  1000: var(--gcds-spacing-1000),
  1050: var(--gcds-spacing-1050),
  1100: var(--gcds-spacing-1100),
  1150: var(--gcds-spacing-1150),
  1200: var(--gcds-spacing-1200),
  1250: var(--gcds-spacing-1250),
) !default;

// --- Sides ---

$sides: (
  '': '',
  t: '-block-start',
  e: '-inline-end',
  b: '-block-end',
  s: '-inline-start',
  x: '-inline',
  y: '-block',
) !default;

// --- States ---
$states: (
  '': '',
  'hover\\:': ':hover',
  'focus\\:': ':focus',
);
