@use './mixins.scss' as mixins;

/* --- Display --- */

$display: (
  block: block,
  flex: flex,
  grid: grid,
  inline: inline,
  inline-block: inline-block,
  inline-flex: inline-flex,
  inline-grid: inline-grid,
  inline-table: inline-table,
  none: none,
  table: table,
  table-cell: table-cell,
  table-row: table-row,
) !default;

@include mixins.generateClasses($display, 'd-', display);
