@import "./mixins.scss";

/* --- Display --- */

$display: (
  block: block,
  flex: flex,
  grid: grid,
  inline: inline,
  inline-block: inline-block,
  inline-flex: inline-flex,
  inline-grid: inline-grid,
  inline-table: inline-table,
  none: none,
  table: table
) !default;

@include generateClasses($display, 'd-', display);
