// --- Display ---

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline-grid {
  display: inline-grid;
}

.d-inline-table {
  display: inline-table;
}

.d-none {
  display: none;
}

.d-table {
  display: table;
}
