@import './mixins.scss';

/* --- Flex --- */

$flex: (
  1: 1 1 0%,
  auto: 1 1 auto,
  initial: 0 1 auto,
  none: none,
) !default;

@include generateClasses($flex, 'flex-', flex);

/* --- Flex Direction --- */

$flexDirection: (
  col: column,
  col-reverse: column-reverse,
  row: row,
  row-reverse: row-reverse,
) !default;

@include generateClasses($flexDirection, 'flex-', flex-direction);

/* --- Flex Wrap --- */

$flexWrap: (
  nowrap: nowrap,
  wrap: wrap,
  wrap-reverse: wrap-reverse,
) !default;

@include generateClasses($flexWrap, 'flex-', flex-wrap);

/* --- Flex Grow --- */

$flexGrow: (
  grow: 1,
  grow-0: 0,
) !default;

@include generateClasses($flexGrow, 'flex-', flex-grow);

/* --- Flex Shrink --- */

$flexShrink: (
  shrink: 1,
  shrink-0: 0,
) !default;

@include generateClasses($flexShrink, 'flex-', flex-shrink);

/* --- Order --- */

@each $classState, $state in $states {
  @for $i from 1 through 12 {
    .#{$classState}order-#{$i}#{$state} {
      order: #{$i};
    }
  }
}

@each $classBreakpoint, $breakpoint in $breakpoints {
  @media only screen and (width > $breakpoint) {
    @each $classState, $state in $states {
      @for $i from 1 through 12 {
        .#{$classBreakpoint}\:#{$classState}order-#{$i}#{$state} {
          order: $i;
        }
      }
    }
  }
}

$order: (
  first: -9999,
  last: 9999,
  none: 0,
) !default;

@include generateClasses($order, 'order-', order);
