@use './mixins.scss' as mixins;

/* --- Focus --- */

@include mixins.classWithBreakpoints('focus\\:default', 'false') {
  &:focus {
    border-radius: var(--gcds-border-radius-sm);
    background-color: var(--gcds-focus-background);
    color: var(--gcds-focus-text);
    text-decoration: none;
    box-shadow: 0 0 0 var(--gcds-border-width-md) var(--gcds-color-grayscale-0);
    outline-offset: var(--gcds-border-width-md);
    outline: var(--gcds-border-width-lg) solid var(--gcds-focus-background);
  }
}
