@import "./defaults.scss";
@import "./mixins.scss";

/* --- Gap --- */

@each $spaceClass, $space in $spacing {
  // --- Gap ---
  @include classBreakpoints('gap-' + #{$spaceClass}) {
    gap: $space;
  }

  // --- Gap Column ---
  @include classBreakpoints('gap-x-' + #{$spaceClass}) {
    column-gap: $space;
  }

  // --- Gap Row ---
  @include classBreakpoints('gap-y-' + #{$spaceClass}) {
    row-gap: $space;
  }
}
