@import "./mixins.scss";

@mixin gridTemplate($trackClass, $track) {
  @for $i from 1 through 12 {
    .grid-#{$trackClass}-#{$i} {
      grid-template-#{$track}: repeat($i, minmax(0, 1fr));
    }
  }

  .grid-#{$trackClass}-none {
    grid-template-#{$track}: none;
  }

  @each $classBreakpoint, $breakpoint in $breakpoints {
    @media only screen and (width > $breakpoint) {
      @for $i from 1 through 12 {
        .#{$classBreakpoint}\:grid-#{$trackClass}-#{$i} {
          grid-template-#{$track}: repeat($i, minmax(0, 1fr));
        }
      }

      .#{$classBreakpoint}\:grid-#{$trackClass}-none {
        grid-template-#{$track}: none;
      }
    }
  }
}


/* --- Grid Template Columns --- */

@include gridTemplate(cols, columns);


/* --- Grid Template Rows --- */

@include gridTemplate(rows, rows);


/* --- Place Content --- */

$placeContent: (
  around: space-around,
  between: space-between,
  center: center,
  end: end,
  evenly: space-evenly,
  start: start,
  stretch: stretch
) !default;

@include generateClasses($placeContent, 'place-content-', place-content);


/* --- Place Items --- */

$placeItems: (
  center: center,
  end: end,
  start: start,
  stretch: stretch
) !default;

@include generateClasses($placeItems, 'place-items-', place-items);


/* --- Place Self --- */

$placeSelf: (
  auto: auto,
  center: center,
  end: end,
  start: start,
  stretch: stretch
) !default;

@include generateClasses($placeSelf, 'place-self-', place-self);
