@import "./defaults.scss";

/* --- Images --- */

// Img full width
.img-full {
  width: 100%;
}

// Img responsive
.img-responsive {
  max-width: 100%;
}

@each $classBreakpoint, $breakpoint in $breakpoints {
  @media only screen and (width > $breakpoint) {
    // Img full width
    .#{$classBreakpoint}\:img-full {
      width: 100%;
    }

    // Img responsive
    .#{$classBreakpoint}\:img-responsive {
      max-width: 100%;
    }
  }
}
