@import "./defaults.scss";

/* --- Images --- */

@each $classState, $state in $states {
  // Img full width
  .#{$classState}img-full#{$state} {
    width: 100%;
  }

  // Img responsive
  .#{$classState}img-responsive#{$state} {
    max-width: 100%;
  }
}


@each $classBreakpoint, $breakpoint in $breakpoints {
  @media only screen and (width > $breakpoint) {
    @each $classState, $state in $states {
      // Img full width
      .#{$classBreakpoint}\:#{$classState}img-full#{$state} {
        width: 100%;
      }

      // Img responsive
      .#{$classBreakpoint}\:#{$classState}img-responsive#{$state} {
        max-width: 100%;
      }
    }
  }
}
