@import "./mixins.scss";

/* --- Justify Content --- */

$justifyContent: (
  around: space-around,
  between: space-between,
  center: center,
  end: flex-end,
  evenly: space-evenly,
  start: flex-start
) !default;

@include generateClasses($justifyContent, 'justify-content-', justify-content);


/* --- Justify Items --- */

$justifyItems: (
  center: center,
  end: end,
  start: start,
  stretch: stretch
) !default;

@include generateClasses($justifyItems, 'justify-items-', justify-items);



/* --- Justify Self --- */

$justifySelf: (
  auto: auto,
  center: center,
  end: end,
  start: start,
  stretch: stretch
) !default;

@include generateClasses($justifySelf, 'justify-self-', justify-self);
