// --- Justify Content ---

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-start {
  justify-content: flex-start;
}


// --- Justify Items ---

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-stretch {
  justify-items: stretch;
}


// --- Justify Self ---

.justify-self-auto {
  justify-self: auto;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-stretch {
  justify-self: stretch;
}
