@use './mixins.scss' as mixins;

/* --- Justify Content --- */

$justifyContent: (
  around: space-around,
  between: space-between,
  center: center,
  end: flex-end,
  evenly: space-evenly,
  start: flex-start,
) !default;

@include mixins.generateClasses($justifyContent, 'justify-content-', justify-content);

/* --- Justify Items --- */

$justifyItems: (
  center: center,
  end: end,
  start: start,
  stretch: stretch,
) !default;

@include mixins.generateClasses($justifyItems, 'justify-items-', justify-items);

/* --- Justify Self --- */

$justifySelf: (
  auto: auto,
  center: center,
  end: end,
  start: start,
  stretch: stretch,
) !default;

@include mixins.generateClasses($justifySelf, 'justify-self-', justify-self);
