@import './mixins.scss';

/* --- Link Color --- */

$linkColor: (
  default: var(--gcds-link-default),
  hover: var(--gcds-link-hover),
  inherit: inherit,
  light: var(--gcds-link-light),
) !default;

@include generateClasses($linkColor, 'link-', color);

/* --- Link Size --- */

$fontSize: (
  'regular' 'var(--gcds-link-font-regular-desktop)'
    'var(--gcds-link-font-regular-mobile)',
  'small' 'var(--gcds-link-font-small-desktop)'
    'var(--gcds-link-font-small-mobile)',
  'inherit' 'inherit' 'inherit'
) !default;

// Generates link size classes based on the $fontSize list.
// Each list item defines: class name, desktop value, mobile value.
@each $className, $valueDesktop, $valueMobile in $fontSize {
  .link-size-#{'' + $className} {
    font: #{$valueDesktop};

    @media only screen and (width < 48em) {
      font: #{$valueMobile};
    }
  }
}

/* --- Link Text Decoration --- */

@include classWithBreakpoints('link-no-underline') {
  text-decoration: none;
}

@include classWithBreakpoints('link-underline') {
  text-decoration: underline;
  text-underline-position: under;
}
