@import "./mixins.scss";

/* --- Link Color --- */

$linkColor: (
  dark: var(--gcds-link-dark-text),
  destructive: var(--gcds-link-destructive-text),
  inherit: inherit,
  light: var(--gcds-link-light-text)
) !default;

@include generateClasses($linkColor, 'link-', color);


/* --- Link Text Decoration --- */

@include classBreakpoints('link-no-underline' ) {
  text-decoration: none;
}

@include classBreakpoints('link-underline' ) {
  text-decoration: underline;
  text-underline-position: under;
}
