@use './mixins.scss' as mixins;

/* --- List Style --- */

$listStyle: (
  decimal: decimal,
  disc: disc,
  none: none,
) !default;

@include mixins.generateClasses($listStyle, 'list-', list-style);

// Add margin to decimal + disc lists
$listMargin: (
  decimal: 0 0 0 var(--gcds-spacing-400),
  disc: 0 0 0 var(--gcds-spacing-400),
) !default;

@include mixins.generateClasses($listMargin, 'list-', margin);
