@use './mixins.scss' as mixins;

/* --- Overflow --- */

$overflow: (
  hidden: hidden,
  scroll: scroll,
  visible: visible,
) !default;

@include mixins.generateClasses($overflow, 'overflow-', overflow);

/* --- Overflow X --- */

@include mixins.generateClasses($overflow, 'overflow-x-', overflow-x);

/* --- Overflow Y --- */

@include mixins.generateClasses($overflow, 'overflow-y-', overflow-y);
