@import "./mixins.scss";

/* --- Overflow --- */

$overflow: (
  hidden: hidden,
  scroll: scroll,
  visible: visible
) !default;

@include generateClasses($overflow, 'overflow-', overflow);


/* --- Overflow X --- */

@include generateClasses($overflow, 'overflow-x-', overflow-x);


/* --- Overflow Y --- */

@include generateClasses($overflow, 'overflow-y-', overflow-y);
