@use './mixins.scss' as mixins;

/* --- Pointer Events --- */

$pointerEvents: (
  auto: auto,
  none: none,
) !default;

@include mixins.generateClasses($pointerEvents, 'pointer-events-', pointer-events);
