@import './mixins.scss';

/* --- Position --- */

$position: (
  absolute: absolute,
  fixed: fixed,
  relative: relative,
  static: static,
  sticky: sticky,
) !default;

@include generateClasses($position, 'position-', position);
