@use './mixins.scss' as mixins;

/* --- Position --- */

$position: (
  absolute: absolute,
  fixed: fixed,
  relative: relative,
  static: static,
  sticky: sticky,
) !default;

@include mixins.generateClasses($position, 'position-', position);
