/* Include Fonts */
/* Lato + Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-underline-position: under;
  text-underline-offset: -0.1em;
  text-decoration-thickness: var(--gcds-border-width-sm);
  transition: all 0.35s;

  &:hover {
    text-decoration-thickness: var(--gcds-border-width-md);
  }
}

body {
  font: var(--gcds-font-text);
  color: var(--gcds-text-primary);

  @media only screen and (width < 48em) {
    font: var(--gcds-font-text-mobile);
  }
}

button {
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  max-width: var(--gcds-heading-character-limit-h1);
  font: var(--gcds-heading-h1-desktop);

  &:after {
    display: block;
    content: '';
    width: var(--gcds-heading-h1-border-width);
    margin-block-start: var(--gcds-heading-h1-border-margin);
    height: var(--gcds-heading-h1-border-height);
    background-color: var(--gcds-heading-h1-border-background);
  }

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h1-mobile);
  }
}

h2 {
  max-width: var(--gcds-heading-character-limit-h2);
  font: var(--gcds-heading-h2-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h2-mobile);
  }
}

h3 {
  max-width: var(--gcds-heading-character-limit-h3);
  font: var(--gcds-heading-h3-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h3-mobile);
  }
}

h4 {
  max-width: var(--gcds-heading-character-limit-h4);
  font: var(--gcds-heading-h4-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h4-mobile);
  }
}

h5 {
  max-width: var(--gcds-heading-character-limit-h5);
  font: var(--gcds-heading-h5-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h5-mobile);
  }
}

h6 {
  max-width: var(--gcds-heading-character-limit-h6);
  font: var(--gcds-heading-h6-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h6-mobile);
  }
}

hr {
  border: 1px solid var(--gcds-color-grayscale-300);
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Prevent overflow on mobile */
html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* Prevent images from overflowing their container */
img {
  max-width: 100%;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

p {
  font: var(--gcds-font-text);

  @media only screen and (width < 48em) {
    font: var(--gcds-font-text-mobile);
  }
}

small {
  font: var(--gcds-font-caption);

  @media only screen and (width < 48em) {
    font: var(--gcds-font-caption-mobile);
  }
}

strong {
  font-weight: var(--gcds-font-weights-bold);
}

/* Remove spacing between cells in tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
