/* Include Fonts */
/* Lato + Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Mono:wght@100..900&display=swap');

/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-style: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: var(--gcds-link-decoration-thickness);
  text-underline-offset: var(--gcds-link-underline-offset);
  transition: all 0.35s;

  @media (hover: hover) {
    &:hover {
      text-decoration-thickness: var(--gcds-link-hover-decoration-thickness);
    }
  }

  &:visited:not(:focus):not([class*='link-light']) {
    color: var(--gcds-link-visited);
  }

  &:focus {
    background-color: var(--gcds-link-focus-background);
    color: var(--gcds-link-focus-text);
    border-radius: var(--gcds-link-focus-border-radius);
    box-shadow: var(--gcds-link-focus-box-shadow);
    outline: var(--gcds-link-focus-outline-width) solid var(--gcds-link-focus-background);
    outline-offset: var(--gcds-link-focus-outline-offset);
    text-decoration: none;
  }
}

body {
  font: var(--gcds-font-text);
  color: var(--gcds-text-primary);

  @media only screen and (width < 48em) {
    font: var(--gcds-font-text-mobile);
  }
}

button {
  border: 0;
  cursor: pointer;
}

code {
  font-family: var(--gcds-font-families-monospace);
}

fieldset {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin-block-end: var(--gcds-heading-spacing-300);
}

h2,
h3,
h4,
h5,
h6 {
  margin-block-start: var(--gcds-heading-spacing-600);
}

h1 {
  max-width: var(--gcds-heading-character-limit-h1);
  font: var(--gcds-heading-h1-desktop);
  margin-block-start: var(--gcds-heading-spacing-0);

  &:after {
    display: block;
    content: '';
    width: var(--gcds-heading-h1-border-width);
    margin-block-start: var(--gcds-heading-h1-border-margin);
    height: var(--gcds-heading-h1-border-height);
    background-color: var(--gcds-heading-h1-border-background);
  }

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h1-mobile);
  }
}

h2 {
  max-width: var(--gcds-heading-character-limit-h2);
  font: var(--gcds-heading-h2-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h2-mobile);
  }
}

h3 {
  max-width: var(--gcds-heading-character-limit-h3);
  font: var(--gcds-heading-h3-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h3-mobile);
  }
}

h4 {
  max-width: var(--gcds-heading-character-limit-h4);
  font: var(--gcds-heading-h4-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h4-mobile);
  }
}

h5 {
  max-width: var(--gcds-heading-character-limit-h5);
  font: var(--gcds-heading-h5-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h5-mobile);
  }
}

h6 {
  max-width: var(--gcds-heading-character-limit-h6);
  font: var(--gcds-heading-h6-desktop);

  @media only screen and (width < 48em) {
    font: var(--gcds-heading-h6-mobile);
  }
}

hr {
  border: var(--gcds-border-width-sm) solid var(--gcds-color-grayscale-300);
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Prevent overflow on mobile */
html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* Prevent images from overflowing their container */
img {
  max-width: 100%;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

p {
  max-width: var(--gcds-text-character-limit);
  font: var(--gcds-font-text);
  margin-block-start: var(--gcds-heading-spacing-0);
  margin-block-end: var(--gcds-heading-spacing-300);

  @media only screen and (width < 48em) {
    font: var(--gcds-font-text-mobile);
  }
}

small {
  font: var(--gcds-font-text-small);

  @media only screen and (width < 48em) {
    font: var(--gcds-font-text-small-mobile);
  }
}

strong {
  font-weight: var(--gcds-font-weights-bold);
}

/* Remove spacing between cells in tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
