@import "./defaults.scss";

/* --- Transition --- */

@mixin transition($class) {
  .#{$class} {
    @content;
  }

  @each $classBreakpoint, $breakpoint in $breakpoints {
    @media only screen and (width >= $breakpoint) {
      .#{$classBreakpoint}\:#{$class} {
        @content;
      }
    }
  }
}

@include transition('transition-fade-in' ) {
  opacity: 0;
  transition: opacity .15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

@include transition('transition-fade-out' ) {
  opacity: 1;
  transition: opacity .15s ease-in-out;

  &:hover {
    opacity: 0;
  }
}
