@import './mixins.scss';

/* --- Transition --- */

@include classWithBreakpoints('transition-fade-in', 'false') {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

@include classWithBreakpoints('transition-fade-out', 'false') {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0;
  }
}
