@use './mixins.scss' as mixins;

/* --- Transition --- */

@include mixins.classWithBreakpoints('transition-fade-in', 'false') {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}

@include mixins.classWithBreakpoints('transition-fade-out', 'false') {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;

  @media (hover: hover) {
    &:hover {
      opacity: 0;
    }
  }
}
