@import "./mixins.scss";

/* --- Font --- */

$font: (
  h1: var(--gcds-font-h1),
  h2: var(--gcds-font-h2),
  h3: var(--gcds-font-h3),
  h4: var(--gcds-font-h4),
  h5: var(--gcds-font-h5),
  h6: var(--gcds-font-h6),
  text: var(--gcds-font-text),
  caption: var(--gcds-font-caption),
) !default;

@include generateClasses($font, 'font-', font);


/* --- Font Families --- */

$fontFamily: (
  heading: var(--gcds-font-families-heading),
  body: var(--gcds-font-families-body),
  monospace: var(--gcds-font-families-monospace),
  icon: var(--gcds-font-families-icon),
) !default;

@include generateClasses($fontFamily, 'font-family-', font-family);


/* --- Font Sizes --- */

$fontSize: (
  caption: var(--gcds-font-sizes-caption),
  h1: var(--gcds-font-sizes-h1),
  h2: var(--gcds-font-sizes-h2),
  h3: var(--gcds-font-sizes-h3),
  h4: var(--gcds-font-sizes-h4),
  h5: var(--gcds-font-sizes-h5),
  h6: var(--gcds-font-sizes-h6),
  text: var(--gcds-font-sizes-text),
) !default;

@include generateClasses($fontSize, 'font-size-', font-size);


/* --- Font Styles --- */

$fontStyle: (
  italic: italic,
  normal: normal,
) !default;

@include generateClasses($fontStyle, 'font-', font-style);


/* --- Font Weights --- */

$fontWeight: (
  light: var(--gcds-font-weights-light),
  regular: var(--gcds-font-weights-regular),
  medium: var(--gcds-font-weights-medium),
  semibold: var(--gcds-font-weights-semibold),
  bold: var(--gcds-font-weights-bold),
) !default;

@include generateClasses($fontWeight, 'font-', font-weight);


/* --- Line Heights --- */

$lineHeight: (
  caption: var(--gcds-line-heights-caption),
  h1: var(--gcds-line-heights-h1),
  h2: var(--gcds-line-heights-h2),
  h3: var(--gcds-line-heights-h3),
  h4: var(--gcds-line-heights-h4),
  h5: var(--gcds-line-heights-h5),
  h6: var(--gcds-line-heights-h6),
  text: var(--gcds-line-heights-text),
) !default;

@include generateClasses($lineHeight, 'line-', line-height);


/* --- Text Align --- */

$textAlign: (
  center: center,
  left: left,
  justify: justify,
  right: right,
) !default;

@include generateClasses($textAlign, 'text-', text-align);


/* --- Text Colours --- */

$textColors: (
  current: currentColor,
  inherit: inherit,
  light: var(--gcds-text-light),
  primary: var(--gcds-text-primary),
  secondary: var(--gcds-text-secondary),
  transparent: transparent,
) !default;

@include generateClasses($textColors, 'text-', color);


/* --- Text Overflow --- */

@include classWithBreakpoints('text-clip') {
  text-overflow: clip;
}

@include classWithBreakpoints('text-truncate') {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* --- Text Transform --- */

$textTransform: (
  capitalize: capitalize,
  lowercase: lowercase,
  none: none,
  uppercase: uppercase,
) !default;

@include generateClasses($textTransform, 'text-', text-transform);


/* --- Word Break --- */

$wordBreak: (
  all: break-all,
  normal: normal,
  word: break-word,
) !default;

@include generateClasses($wordBreak, 'break-', word-break);
