@use './mixins.scss' as mixins;

/* --- Visibility --- */

$visibility: (
  hidden: hidden,
  visible: visible,
) !default;

@include mixins.generateClasses($visibility, 'visibility-', visibility);

// Text for screen readers only
@include mixins.classWithBreakpoints('visibility-sr-only') {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
}
