@import "./mixins.scss";

/* --- Visibility --- */

$visibility: (
  hidden: hidden,
  visible: visible,
) !default;

@include generateClasses($visibility, 'visibility-', visibility);

// Text for screen readers only
@include classWithBreakpoints('visibility-sr-only') {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
}
