on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: Release Generator

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@78e5f2ddc08efcb88fbbee6cfa3fed770ba550c3 # v1.9.1
        id: sre_app_token
        with:
          app_id: ${{ secrets.SRE_APP_ID }}
          private_key: ${{ secrets.SRE_APP_PRIVATE_KEY }}

      - uses: google-github-actions/release-please-action@db8f2c60ee802b3748b512940dde88eabd7b7e01 # v3.7.13
        with:
          command: manifest
          token: ${{ steps.sre_app_token.outputs.token }}
          release-type: node
          default-branch: main